@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: x-large;
	overflow:hidden;
	font-family: 'Jeju Gothic', sans-serif;
	background-color: #947fda;
	
}
li{
	list-style: none;
}
.App{
	display: flex;
	position: absolute;
	overflow:hidden;
	height: 100%;
	width: 100%;
}
textarea,input{
	font-family: 'Jeju Gothic', sans-serif;
}