input[type=text]{
	border: none;
	font-size: x-large;
	text-align: center;
	/* width: 75%; */
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
}
/* .borad{
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 100%;
}
.borad .main_platform{
	overflow-y: scroll;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height:500px;
	padding: 50px 0;
} */
input[type=date]::-webkit-calendar-picker-text{
	display:none;
}
input[type=date]{
	font-size: small;
	border: none;
	height: 100%;
	width: 113px;
	background: none;
}
input[type=number]{
	width: 50px;
	font-size: x-large;
	border: none;
	text-align: center;
	padding: 0 7px 0 0;
}
textarea{
	border: 1px solid gray;
	width: 100%;
	height: 100px;
	resize: none;
	font-size: large;
}
input[type=text]:focus,input[type=number]:focus,textarea:focus,input[type=date]:focus{
	outline: none;
}
.task_input_ul{
	padding: 0;
	/* position: relative; */
	/* max-height: 150px; */
	margin: 0;
	/* overflow: scroll; */
	/* max-height:200px;
	overflow-y: scroll; */
}
#last_task_inputs{
	width: 100%;
}
.task_input_ul input[type=text]{
	width: 50%;
}
.task_input_div{
	display: flex;
}

.task_div input[type=button]{
	padding: 7px 7px 3px 7px;
	flex: 1;
}
.task_div input[type=text]{
	margin: 0;
	font-size: medium;
	flex: 6;
}

.type_choice{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.function_btns{
	display: flex;
	width: 100%;
}
/* .function_btn:first-child:nth-last-child(2),
.function_btn:first-child:nth-last-child(2) ~ .function_btn{
	width: 50%;
}
.function_btn:first-child:nth-last-child(3),
.function_btn:first-child:nth-last-child(3) ~ .function_btn{
	width: 33.33%;
}
.function_btn:first-child:nth-last-child(4),
.function_btn:first-child:nth-last-child(4) ~ .function_btn{
	width: 25%;
} */
.function_btn{
	height: 50px;
	font-size: large;
	border: none;
	flex: 1;
	color: #e8e9ec;
	background-color: #775cd2;
	box-sizing: border-box;
	margin:10px;
}



.type_choice > span{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-bottom: 1px solid gray;
}
.task_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
}
.disabled{
	display: none;
}
.task_div label{
	display: flex;
}
.task_div label input{
	margin: 0;
}
.task_div li{
	margin-top: 10px;
}
.disabled_background{
	background: none;
	background-color: rgba(0, 0, 0, 0.137);
}