.project_list_ul{
	display: inline-block;
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	padding:0;
	height: 85%;
	margin:0;
	transform: translateY(-50%);
	top: 50%;
}

.project_list_li{
	display: inline-block;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
	width: 90%;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom: 10px;
}
.project_list_li input{
	width: 100%;
	display: none;
}
.project_list_label{
	display: grid;
	grid-template-rows: 1fr 1fr;
	position: relative;
	width: 100%;
}
.project_list_label div{
	position: relative;
}
.project_list_day{
	position:relative;
	display: inline-block;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	font-size: 50px;
	padding-top: 20px;
}
.project_list_name{
	position:absolute;
	display: inline-block;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	font-size: large;
	text-align: center;
}
.plus_btn{
	display: inline-block;
	height:50px;
}
.plus_btn_value{
	position:absolute;
	display: inline-block;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 60%;
}
.project_done{
	background-image: url("./project_done.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 100px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top:-5px;
}
.task_done{
	background-image: url("./task_done.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;
	height: 100px;
	position: absolute;
	right: -20px;
	top: -10px;
	transform: rotate(25deg);
}
.not_start{
	color: gray;
	border-style: dashed;
}
.not_start_in_prjcomp{
	color: gray;
}

.task_stat{
	position: absolute;
	bottom:4px;
	left: 10px;
}
.task_stat span{
	font-size: medium;
}