.project_board{
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 90%;
	top: 30px;
}
.project_day{
	font-size: 3em;
	margin-bottom: 0;
}
.project_header,.project_content{
	overflow-wrap: break-word;
	margin-bottom: 0;
	text-align: center;
}
.project_board ul{
	padding: 0;
	border: 1px solid gray;
	border-radius: 10px;
}
.project_board ul li{
	margin: 25px 0 25px 0;

}
.project_board ul input{
	display: none;
}
.checked{
	text-decoration: line-through;
}